name: ci

on:
  push:

jobs:
  ci:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Build cli
      run: |
        cmake . && make
        ls -lh smolcde
        ./smolcde
      
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'
        
    - name: Install Python dependencies
      run: |
        pip install pytest scipy autograd scikit_learn tqdm
        
    - name: Run tests
      run: |
        pytest
